apiVersion: v2
description: An automated observability platform for cloud-native developers.
name: deepflow
engine: gotpl
type: application
version: 0.1.073
appVersion: "6.1.5"
kubeVersion: ">=1.16.0-0"
sources:
  - https://github.com/deepflowys/deepflow
home: https://github.com/deepflowys/deepflow
keywords:
  - deepflow
icon: https://raw.githubusercontent.com/deepflowys/deepflow-charts/main/deepflow.svg
maintainers:
  - name: deepflow
    url: https://github.com/deepflowys/deepflow
dependencies:
- name: clickhouse
  repository: ""
  version: '*.*.*'
  condition: clickhouse.enabled
- name: mysql
  repository: ""
  version: '*.*.*'
  condition: mysql.enabled
- name: deepflow-agent
  repository: ""
  version: '*.*.*'
  condition: deepflow-agent.enabled
- name: grafana
  version: "6.*.*"
  repository: https://grafana.github.io/helm-charts
  condition: grafana.enabled