apiVersion: v2
description: An automated observability platform for cloud-native developers.
name: deepflow
engine: gotpl
type: application
version: 6.4.001
appVersion: "6.5.4"
kubeVersion: ">=1.16.0-0"
sources:
  - https://github.com/deepflowio/deepflow
home: https://github.com/deepflowio/deepflow
keywords:
  - deepflow
icon: https://raw.githubusercontent.com/deepflowio/deepflow-charts/main/deepflow.svg
maintainers:
  - name: deepflow
    url: https://github.com/deepflowio/deepflow
dependencies:
- name: clickhouse
  repository: ""
  version: '*.*.*'
  condition: clickhouse.enabled
- name: mysql
  repository: ""
  version: '*.*.*'
  condition: mysql.enabled
- name: deepflow-agent
  repository: ""
  version: '*.*.*'
  condition: deepflow-agent.enabled
- name: grafana
  version: "7.*.*"
  repository: https://grafana.github.io/helm-charts
  condition: grafana.enabled
- name: stella-agent-ce
  repository: ""
  version: '*.*.*'
  condition: stella-agent-ce.enabled